#!/usr/bin/env bash

cargo +nightly --version > /dev/null 2>&1 || \
export PATH=$HOME/.cargo/bin:$PATH && \
cargo +nightly --version > /dev/null 2>&1 || \
export RUSTUP_INIT_SKIP_PATH_CHECK=yes
curl -s https://sh.rustup.rs | sh -s -- --default-toolchain nightly -y



