#!/usr/bin/env bash

if ! command -v direnv &> /dev/null
then
curl -sfL https://direnv.net/install.sh | bash
fi

set -ex

[ -f $HOME/.cargo/env ] && source $HOME/.cargo/env
cargo +nightly --version || curl -s https://sh.rustup.rs | sh -s -- --default-toolchain nightly -y
source $HOME/.cargo/env
